{% extends 'base.html' %}

{% block title %}Cerca{% endblock %}

{% block content %}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'homepage' %}" style="color:#33b5e5">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'product:list_products' %}" style="color:#33b5e5">Prodotti</a></li>
    <li class="breadcrumb-item active" aria-current="page">Search</li>
    </ol>
</nav>
<div class="text-center">
    <h4>Categoria: "{{category}}"</h4>
</div>
<div class="row">
    {% for product in products %}
    <div class="col-lg-3">
        <div class="box-element product">
            <a href={% url 'product:product_details' product.slug %}><img src="{{ product.image.url }}" class="card-img-top" style="height:12vw; object-fit: scale-down;"></a>
            <div class="card-body">
                <h6 class="card-title">{{ product.title }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">€ {{ product.price }} </h6>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock  %}

