{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.title }} - details{% endblock title %}



{% block content %}
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'product:list_products' %}">Prodotti</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{object.title}}</li>
        </ol>
    </nav>
    <br>
    <h1>
       {{ object.title }}
    </h1>
    <br>
    <div class="container-fluid">
        <div class="row">
            
            <div>
                <img height="400px" src="{{ object.image.url }}" style="object-fit: cover"> 
            </div>
            <div class="m-lg-3">
                Vendor: <a href="{% url 'product:vendor_details' object.vendor.pk%}">{{ object.vendor }}</a>
                <br>
                <br>
                
                <h5>€ {{ object.price }}</h5>
                <br>
                <a href="{% url 'product:product_buy' object.slug%}" class="btn btn-info">Acquista</a>
            </div>
        </div>
        
        <br>
        <br>
        <h5><strong>Descrizione prodotto:</strong></h5>
        <p> {{ object.description }} </p> 
        <br>
        
        <br><br><strong>Category</strong>: {{ object.category }}<br><br>
        
        Rating: 
        {% if object.get_average_score == 0 %}
            no ratings yet!
            {% else %}
            {{object.get_average_score}}/5&#9733;
        {% endif %}
        <br><br>
        <h3 class="text-info">Recensioni</h3>
        {% if not request.user.is_authenticated %}
            <a href="{% url 'account:login' %}" class="btn btn-outline-dark">Accedi per visualizzare le recensioni</a>
        {% else %}
            {% if already_reviewed %}
                <h5><strong>La tua recensione</strong></h5>
                <div class="container card border-info">
                    <div>{{my_review.writer}}</div>
                    <div>{{my_review.created_at|date:"d F Y"}}</div>
                    <div>{{ my_review.stars }}/5&#9733;</div><br>
                    <div>{{ my_review.text }}</div><br>
                </div>
                <br>
                <hr>
            {% else %}
                <a href="{% url 'product:product_review' object.slug %}">
                    <div>
                        <button class="btn btn-outline-info">Leave a review!</button>
                    </div>
                </a>
            {% endif %}
            <br>
            {% if object.get_average_score != 0 %}
            <h5><strong>Recensioni clienti</strong></h5>
            {% endif %}
            <br>    
            <section>
            {% for score in object.get_reviews %}
                <div class="container card border-dark">
                    <div>{{score.writer}}</div>
                    <div>{{score.created_at|date:"d F Y"}}</div>
                    <div>{{ score.stars }}/5&#9733;</div><br>
                    <div>{{ score.text }}</div><br>
                </div>
                <br>
            {% endfor %}
            </section>
        {% endif %}
        {% if request.user.is_authenticated %}
            
        {% endif %}
        <br><br><br><br><br><br>
    </div>

{% endblock content %}