{% extends 'base.html' %}
{% load static %}

{% block title %}Products{% endblock %}


{% block left_section %}
    <div class="card mt-4 ml-2">
        <h6 class="card-header">Prezzo</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <form method="GET" action="{% url 'product:price_search' %}">
                    <input name="min_price" type="number" min="0" placeholder="Min">
                    <input name="max_price" type="number" placeholder="Max">
                    <button class="btn btn-outline-info" type="submit">Go</button>
                </form>
            </li>
            
        </ul>
        
    </div>
    <br>
    <div class="card mt-4 ml-2">
        <h6 class="card-header">Categorie</h6>
        <ul class="list-group">
            <li class="list-group-item">
                    {% for category in categories %}
                        <a href="{% url 'product:category_filter' category.slug%}" style="color:#e65c00">{{category.title}}</a>
                        <br>
                    {% endfor %}
                </form>
            </li>
            
        </ul>
        
    </div>
{% endblock %}

{% block content %}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'homepage' %}" style="color:#33b5e5">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Prodotti</li>
    </ol>
</nav>
    <h2>Nuovi prodotti</h2>
    <br>
    <div class="row">
        {% for product in object_list %}
        <div class="col-lg-3">
            <div class="box-element product">
                <a href={% url 'product:product_details' product.slug %}><img src="{{ product.image.url }}" class="card-img-top" style="height:12vw; object-fit: scale-down;"></a>
                <div class="card-body">
                    <h6 class="card-title">{{ product.title }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">€ {{ product.price }} </h6>
                </div>
            </div>
            <br>
        </div>
        
        {% endfor %}
    </div>
    
{% endblock %}

