{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}Review{% endblock %}

{% block content %}
<br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'homepage' %}" style="color:#33b5e5">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'product:list_products' %}" style="color:#33b5e5">Prodotti</a></li>
        <li class="breadcrumb-item active" aria-current="page">Recensione</li>
        </ol>
    </nav>
    {% if vendor is not None %}
        <form method="POST" action="{% url 'product:vendor_review' vendor %}"> {% csrf_token %}
    {% else %}
        <form method="POST" action="{% url 'product:product_review' product %}"> {% csrf_token %}
    {% endif %}
        {{ form | crispy }}
        <input type="submit" value="Confirm" class="btn btn-outline-success">
    </form>
{% endblock content %}