{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete product{% endblock title %}

{% block content %}
    <br>
    <h5>Vuoi rimuovere il seguente prodotto dalle tue vendite?</h5>
    <div class="container card border-danger">
        <br>
        <img src="{{ product.image.url }}" class="justify-content-md-start" style="height:10vw; object-fit: scale-down;">
        <h6>{{ object.title }}</h6>
        <h6>€ {{object.price}}</h6>
        <h6>Categoria: {{ object.category }}</h6>
        <p>{{ object.description }}</p>
    </div>
    
    <form method="post">
        {% csrf_token %}
        {{ form | crispy}}
        <br>
        <a href="{% url 'account:my_sales' %}" class="btn btn-outline-secondary">Annulla</a>
        <input type="submit" value="Elimina" class="btn btn-outline-danger">
    </form>
{% endblock content %}
