{% extends "base.html" %}


{% block title %}My sales{% endblock %}

{% block content %}
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'homepage' %}" style="color:#33b5e5">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Le mie vendite</li>
        </ol>
    </nav>
    <h1 class="mb-4">Elenco prodotti in vendita</h1>
    {% if not object_list %}
        No sales yet
    {% endif %}
    <div class="list-group">
        {% for product in object_list %}
            <div class="list-group-item">
                <label class="font-weight-bold"><a href="{% url 'account:sale_detail' product.slug%}">{{ product.title }}</a></label> -
                <label class="text-muted">{{ product.price }}</label>
                
                <a href="{% url 'product:delete_product' product.slug %}" class="float-right btn btn-danger ml-5">Remove</a>
            </div>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'product:create_product' %}">
            <button class="btn btn-primary mt-3">Aggiungi Vendita</button>
        </a>
    </div>

{% endblock %}